
.root {
                   -fx-border-radius: 0;
                              -fx-background-radius: 0;
                          -fx-background-color: rgb(45, 45, 50), rgb(60, 60, 65);
                          -fx-background-insets: 0, 0 1 1 0;
                          -fx-padding: 2 2 2 2;
}


#but, #but1, #apperpannel{
-fx-padding : 1 1 1 1 ;
}
.label {
    -fx-background-color: transparent;
     -fx-text-fill: white;
            -fx-font-family: "Arial Bold Narrow";
            -fx-font-weight: bold;
    }
.button {
        -fx-text-fill: white;
        -fx-font-family: "Arial Narrow";
        -fx-font-weight: bold;

        -fx-background-color: linear-gradient(#61a2b1, #2A5058);
        -fx-effect: dropshadow( three-pass-box , rgba(0,0,0,0.6) , 5, 0.0 , 0 , 1 );
}

.button:hover {
 -fx-background-color: linear-gradient(#2A5058, #61a2b1);
 }

.text-area {
    -fx-background-color: transparent;



}

.text-area .scroll-pane .scroll-bar {
    -fx-background-color: rgba(255,255,255,0.5);
}

.text-area .viewport {
    -fx-background-color: transparent;

 }

.text-area .content {
   -fx-background-color: transparent;

}

.text-area .text {
    -fx-effect: dropshadow(gaussian,rgba(255,255,255,0.7),15,0.85,0,0);
}
.text-field {
                       -fx-background-color: transparent;
                        -fx-text-fill: white;
                               -fx-font-family: "Arial Narrow";
                               -fx-font-weight: bold;

                   }
                    .promptText{
                                                      -fx-background-color: transparent;
                                                       -fx-text-fill: white;
                                                              -fx-font-family: "Arial Narrow";
                                                              -fx-font-weight: bold;

                                                  }


